<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect x="10" y="10" width="300" height="80" fill="none" stroke="#111" stroke-width="10px"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle cx="50" cy="50" r="45"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 500 100">
      <g>
        <circle cx="75" cy="30" r="20"/>
        <circle cx="25" cy="30" r="20"/>
        <circle cx="50" cy="50" r="35" fill="#fff"/>
        <ellipse cx="35" cy="40" rx="5" ry="6"/>
        <circle cx="37" cy="42" r="2" fill="#fff"/>
        <ellipse cx="65" cy="40" rx="5" ry="6"/>
        <circle cx="63" cy="42" r="2" fill="#fff"/>
        <circle cx="50" cy="50" r="3"/>
        <path d="M 35 60
            A 35 60 0 0 0 65 60"
            fill="#000"/>
        <path z-index="10" d="M 45 60
            Q 50 70 55 60"
            fill="magenta"/>
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg id="logoSVG" viewBox="0 0 450 575" width="200px" height="200px">
        <g fill="none" stroke="#111" stroke-width="50px" stroke-linecap="round" stroke-linejoin="round">
            <path id="pathSVG" d="M150 50 L 150 450 Q 25 450 25 362.5 Q 25 287.5 125 287.5 L 300 287.5 Q 425 287.5 425 200 Q 425 122.5 300 122.5 L 300 522.5"/>
        </g>
    </svg>
  </div>
</div>
